*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: linear-gradient(to top, rgb(83, 50, 150), rgb(255, 255, 255));
    --cor2: linear-gradient(to right, rgb(83, 50, 150), rgb(255, 255, 255));
}

body{
    background-color: rgb(0, 0, 0);
}

ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    background-color: rgb(44, 43, 43);
    border-radius: 0px 0px 5px 5px;
    color: #fff;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    height: 25px;;

    padding: 10px;
    display: flex;
    justify-content: space-between;

    font-size: 2.5vh;
}

.nav-bar a{
    text-decoration: none;
    color: #fff;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 3px;
}

.nav-bar a:hover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 3px;
    background-color: #fff;
    color: #000000;
}

.title{
    color: #fff;

    font-family: 'Bebas Neue', sans-serif;

    display: grid;
    place-content: center;
    justify-content: center;

    letter-spacing: 2px;
    height: 700px;
    font-size: 4vh;
}

.title h1, h2{
    background-image: var(--cor1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.conteiner li{
    border: 4px solid #fff;
    border-image: var(--cor2) 1;

    margin: 30px 10px 0px 10px ;
}

.conteiner h3{
  font-size: 5vh;
  padding: 20px;
  color: #fff;
  
  font-family: 'Bebas Neue';
}

.hbs{
  list-style: none;
  border-radius: 0px 0px 5px 5px;

  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}

.hbs img{
    background-color: #fff;
    border-radius: 5px;
    
    padding: 10px;
    display: block;
    margin: auto;
}

.hbs img:hover {
    background-color: black;
    border-radius: 5px;
}


.conteiner p{
    color: #fff;

    font-size: 23.5px;
    padding: 10px 10px 20px 20px; 
    
    font-family:'Courier New', Courier, monospace;
}

.honeycomb{
    display: flex;
    
    margin: 50px auto;
}

#footer{
    background-color:rgb(44, 43, 43);
    margin-top: 40px;

    display: flex;
    justify-content: space-evenly;
    gap: 16px;

    padding: 34px;

    font-size: 44px;
}

#footer a{ 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: background 0.2s;
    border-radius: 50%;
}

#footer a:hover{
    background-color: black;
}

@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }